# Simulation files
*.vtu
*.pvtu
*.csv
*.e
PF_Dissolution.i
FEM_Loading_Compression.i
FEM_Loading_Isotropic.i
FEM_Loading_Shearing.i
FEM_Loading_Triaxial.i
*.avi

# Folders with images
Tengattini2023

# Folders created during the simulation
__pycache__
output
data
e
i
vtk
dict
csv
.jitcache

# other files
prelim.py
